/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

a {
    color: #5e0018
}
body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}
h1 {
    font-size: 30px;
    font-weight: 700;
}
h2 {
    font-size: 24px;
    font-weight: 700;
}
h3 {
    font-size: 18px;
    font-weight: 700;
}
a:visited {
    color: indigo;
}
a:hover, a:focus {
    text-decoration: none;
}
a:active {
    color: midnightblue;
}
button {
    border:none;
    display: inline-block;
    font-family: inherit;
    background-color: #5e0018;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #000;
    -webkit-transition: 0.5s opacity;
    -o-transition: 0.5s opacity;
    transition: 0.5s opacity;
}
.button {
    border:none;
    display: inline-block;
    font-family: inherit;
    background-color: #5e0018;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #000;
    -webkit-transition: 0.5s opacity;
    -o-transition: 0.5s opacity;
    transition: 0.5s opacity;
}
button:hover, 
button:focus,
.button:hover,
.button:focus {
    cursor:pointer;
    opacity: 0.5;
}
.button__secondary {
    background-color: #000;
    color: #fff;
}
.navigation-list__item--active {
    text-decoration: none;
}
.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}
.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.profile {
    max-width: 700px;
    margin: 0 auto;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 0.5px solid #5e0018;
}
.page-header__item {
    margin: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}
.grid__item {
    display: inline-block;
    width: 33%;
}
@supports (display:grid) {
    .grid { 
        display:-ms-grid; 
        display:grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .grid__item {
        background-color: lightgray;
        width: auto;
        min-height: auto;
        padding: 10px;
    }
}
@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h1 {
        font-size: 22px;
    }
}
@-webkit-keyframes color-change {
    0% {
        fill: red;
    }
    16% {
        fill: orange;
    }
    32% {
        fill: yellow;
    }
    48% {
        fill: green;
    }
    54% {
        fill: blue;
    }
    70% {
        fill: indigo;
    }
    86% {
        fill: purple;
    }
    100% {
        fill: white;
    }
}
@keyframes color-change {
    0% {
        fill: red;
    }
    16% {
        fill: orange;
    }
    32% {
        fill: yellow;
    }
    48% {
        fill: green;
    }
    54% {
        fill: blue;
    }
    70% {
        fill: indigo;
    }
    86% {
        fill: purple;
    }
    100% {
        fill: white;
    }
}
.dog {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
}
@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0)
    }
    to {
        -webkit-transform: translate(50px, 0);
                transform: translate(50px, 0)
    }
}
@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0)
    }
    to {
        -webkit-transform: translate(50px, 0);
                transform: translate(50px, 0)
    }
}
.cloud1 {
    -webkit-animation: 5s cloud-move infinite alternate linear;
            animation: 5s cloud-move infinite alternate linear;
}
@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0)
    }
    to {
        -webkit-transform: translate(-50px, 0);
                transform: translate(-50px, 0)
    }
}
@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0)
    }
    to {
        -webkit-transform: translate(-50px, 0);
                transform: translate(-50px, 0)
    }
}
.cloud2 {
    -webkit-animation: 5s cloud-move-reverse infinite alternate linear;
            animation: 5s cloud-move-reverse infinite alternate linear;
}